# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the  datasets [cars1.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2.csv](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv) from the folder

In [4]:
df1=pd.read_csv("cars1.csv")
df2=pd.read_csv("cars2.csv")

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [5]:
cars1=df1
cars2=df2

### Step 4. It seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [7]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [8]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. There is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
nr_owners = np.random.randint(15000, high=73000, size=398, dtype='l')
nr_owners

array([61497, 62743, 23563, 18672, 27611, 62653, 21254, 51421, 37267,
       57851, 68258, 20419, 25096, 28195, 26249, 51367, 51720, 17205,
       58063, 27349, 51728, 15683, 72451, 19528, 23621, 15586, 34626,
       46441, 68527, 38176, 56904, 51584, 60506, 41681, 28968, 25575,
       44038, 70735, 31902, 26947, 46317, 52383, 25078, 31669, 55338,
       54473, 28063, 27164, 70156, 42712, 66696, 38237, 16508, 25228,
       69019, 22484, 29512, 18406, 69538, 36795, 25990, 37209, 31979,
       17922, 37333, 27802, 20805, 26956, 45606, 42835, 23416, 38123,
       19693, 18300, 36350, 34432, 29496, 53418, 24907, 29232, 65165,
       47253, 65953, 55501, 30455, 70260, 22662, 17311, 19673, 22801,
       46831, 45418, 23987, 28073, 16265, 64581, 19643, 46456, 49390,
       56047, 24184, 55517, 48457, 55718, 42062, 49217, 70148, 18295,
       19291, 37906, 20423, 32202, 19846, 40773, 55674, 55773, 43177,
       49583, 70333, 44514, 60547, 33426, 32325, 68611, 61329, 26923,
       41468, 39692, 33952, 20343, 56874, 32987, 31356, 32427, 51842,
       61084, 63995, 25636, 62115, 19556, 47806, 69678, 24726, 23200,
       65128, 24020, 67545, 68025, 42635, 46736, 52461, 19476, 29239,
       23007, 19240, 40857, 46268, 66115, 44801, 29068, 21896, 38330,
       19313, 59007, 72809, 52470, 26671, 66034, 32920, 52464, 54123,
       31795, 18108, 67394, 64730, 29176, 20179, 71980, 67511, 25670,
       34325, 57223, 40040, 53700, 47881, 70170, 22161, 50016, 40625,
       59980, 64983, 24774, 23768, 33188, 34218, 44247, 66447, 51327,
       48340, 45087, 23848, 23365, 27248, 67666, 40476, 34585, 62900,
       59472, 15672, 35454, 41833, 58164, 17013, 48752, 39047, 49571,
       53667, 64046, 43953, 38020, 25153, 51065, 69270, 49507, 55339,
       53936, 44536, 39643, 67251, 18004, 17009, 69097, 33745, 15602,
       66770, 48600, 59406, 61141, 56987, 46233, 46747, 69431, 46663,
       72859, 45481, 64926, 42458, 47069, 27432, 36901, 66577, 33972,
       58433, 51950, 54846, 33363, 47791, 33791, 58916, 27665, 40470,
       68641, 30599, 55626, 28022, 28810, 66438, 69608, 19511, 68352,
       38253, 30876, 71340, 48432, 57070, 69127, 68629, 38085, 33381,
       58651, 44039, 24207, 31583, 62165, 58074, 29296, 50514, 49359,
       47811, 50554, 28044, 47208, 17916, 50906, 62638, 20496, 47220,
       41316, 18058, 63969, 52008, 44507, 67021, 72329, 17191, 32339,
       15303, 47740, 53068, 19708, 45639, 49065, 62710, 32546, 62669,
       39415, 17050, 23399, 17248, 28041, 45892, 25381, 64685, 22559,
       64658, 26041, 29937, 71587, 72908, 24358, 41840, 50685, 53397,
       17237, 22757, 16859, 66540, 49984, 29483, 31540, 28379, 69152,
       19162, 39968, 49072, 51476, 27624, 33030, 30196, 45111, 31436,
       68888, 30215, 43779, 42543, 43835, 48073, 60063, 34347, 46272,
       58878, 71784, 53155, 71045, 18827, 70384, 68898, 26037, 51459,
       43693, 40478, 56211, 31697, 63214, 52863, 49818, 63337, 44682,
       37254, 51302, 27273, 59122, 18410, 49106, 67894, 35054, 60716,
       47668, 36574, 45496, 41381, 17703, 16299, 19596, 55991, 21605,
       26091, 15284])

### Step 8. Add the column owners to cars

In [11]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,19596
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,55991
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,21605
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,26091
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,15284